{"vaults":{"5d2e56b72fd5d2f9":{"path":"{{ .chezmoi.homeDir }}/Documents/Jeeves&Aaron","ts":1788080518175},"96d9ecb59906f0af":{"path":"{{ .chezmoi.homeDir }}/Documents/wiki","ts":1788081757570,"open":true}}}