{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s-%s" .chezmoi.os .chezmoi.osRelease.id .chezmoi.arch -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

encryption: age

age:
    identity:    "~/.config/chezmoi/key.txt"
    recipient:   "age16uwe3vtxythu7zfckqt5u736a9v0v2929q4xzs3wu9yuduqsvpasw47s7h"
    command:     age

data:
    codespaces: {{ eq (.chezmoi.osRelease.id | default "") "codespaces" }}
    name:           {{ promptStringOnce . "name"           "Git/display name" | quote }}
    email:          {{ promptStringOnce . "email"          "Git email"        | quote }}
    githubUsername: {{ promptStringOnce . "githubUsername" "GitHub username"  | quote }}
    osid:           {{ $osid | quote }}
