
{{ $email := promptString "email" -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s-%s" .chezmoi.os .chezmoi.osRelease.id .chezmoi.osRelease.versionID -}}
{{- end -}}

data:
    email:  {{ $email | quote }}
    osid:   {{ $osid | quote }}

age:
    identity: "~/.config/key.txt"
    recipient: "age16uwe3vtxythu7zfckqt5u736a9v0v2929q4xzs3wu9yuduqsvpasw47s7h"
