[user]
	name = Aaron Lauer
	email = {{ .email | quote }}
{{ if eq .email "aaronla@amdocs.com" -}}
[http]
	sslVerify = false
	proxy = "http://genproxy.corp.amdocs.com:8080"
[https]
	sslVerify = false
	proxy = "http://genproxy.corp.amdocs.com:8080"
{{ end -}}
[safe]
        directory = *