#!/usr/bin/env bash
# shellcheck shell=bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
[[ -e "${HOME}/.zshenv" ]] && source "${HOME}/.zshenv"
export PATH="/opt/homebrew/bin:$PATH"
export PYENV_ROOT="$HOME/.pyenv"
eval "$(pyenv init -)"
latest=$(pyenv install -l | grep -E '^[[:space:]]+[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+$' | tail -1 | xargs echo)
pyenv install 3.13.7
pyenv install "${latest}"
pyenv virtualenv 3.13.7 aaron
pyenv shell aaron
{{ end -}}
