#!/usr/bin/env bash

set -eu

unameOut="$(uname -s)"

{{ if eq .chezmoi.os "darwin" }}
brew install age

{{ else if eq .chezmoi.os "linux" }}
sudo apt-get update -qq
sudo apt-get install -y build-essential\
    git \
    file \
    curl

/usr/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
test -r ~/.bash_profile && echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> "${HOME}/.bash_profile"
echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> "${HOME}/.profile"

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
"$(brew --prefix)"/bin/brew install age

{{ end }}

