#!/usr/bin/env bash
# shellcheck shell=bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
export PYENV_ROOT="$HOME/.pyenv"
export PATH="/opt/homebrew/bin:$PATH"
if [[ ! -d "$HOME/.pyenv/plugins/pyenv-update" ]]; then
    git clone https://github.com/pyenv/pyenv-update.git "$HOME/.pyenv/plugins/pyenv-update"
fi
if [[ ! -d "$HOME/.oh-my-zsh/custom/plugins/ohmyzsh-full-autoupdate" ]]; then
    git clone https://github.com/Pilaton/OhMyZsh-full-autoupdate.git "$HOME/.oh-my-zsh/custom/plugins/ohmyzsh-full-autoupdate"
fi
pyenv update
{{ end -}}
