#!/usr/bin/env bash
# shellcheck shell=bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
brew bundle --file=/dev/stdin <<'EOF'
cask_args appdir: "~/Applications", require_sha: true
brew "git"
brew "pyenv"
brew "eza"
brew "ssh-copy-id"
brew "git-extras"
brew "macvim"
brew "neovim"
brew "jq"
brew "wget"
brew "fortune"
brew "cowsay"
brew "ansible"
brew "awscli"
brew "starship"
brew "terraform"
brew "helm"
cask "font-meslo-lg-nerd-font"
cask "iterm2"
cask "sublime-text"
cask "visual-studio-code"
EOF

if [[ ! -d "$HOME/.pyenv/plugins" ]]; then
    git clone https://github.com/pyenv/pyenv-virtualenv.git "$HOME/.pyenv/plugins/pyenv-virtualenv"
    git clone https://github.com/pyenv/pyenv-which-ext.git "$HOME/.pyenv/plugins/pyenv-which-ext"
    git clone https://github.com/pyenv/pyenv-update.git "$HOME/.pyenv/plugins/pyenv-update"
fi
{{ else -}}
if [[ "{{ .chezmoi.os }}" == "linux" ]]; then
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    brew list --formula herdr >/dev/null 2>&1 || brew install herdr
fi
{{ end -}}
