#!/usr/bin/env bash
# shellcheck disable=SC2034,SC1090
{{ if eq .chezmoi.os "linux" -}}
# Pyenv
if [ ! -d "$HOME/.pyenv" ]; then
    git clone https://github.com/yyuu/pyenv.git "$HOME"/.pyenv
    git clone https://github.com/pyenv/pyenv-virtualenv.git "$HOME"/.pyenv/plugins/pyenv-virtualenv
    git clone https://github.com/pyenv/pyenv-which-ext.git "$HOME"/.pyenv/plugins/pyenv-which-ext

fi

sudo add-apt-repository -y ppa:neovim-ppa/unstable
sudo apt-get update -qq

sudo apt-get install -y python3-pip\
    python-is-python3 \
    zsh \
    jq \
    python3-dev \
    python3-virtualenv \
    libatlas-base-dev \
    libssl-dev \
    zlib1g-dev \
    libbz2-dev \
    libreadline-dev \
    libsqlite3-dev \
    wget \
    curl \
    llvm \
    libncurses5-dev \
    libncursesw5-dev \
    xz-utils \
    tk-dev \
    libffi-dev \
    liblzma-dev \
    python3-openssl \
    git \
    vim \
    neovim \
    unzip \
    cmake

{{ else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
# Cli Tools
xcode-select --install

# HomeBrew and Casks
/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
brew tap caskroom/cask
brew tap caskroom/versions
brew tap caskroom/fonts
export HOMEBREW_CASK_OPTS="--appdir=/Applications"


# Fonts
brew cask install font-hack-nerd-font

# A good set of terminal tools
brew install zsh
chsh -s "$(which zsh)"
brew install copy-ssh-id
brew install git
brew install git-extras
brew install macvim
brew install neovim
brew install nvm
brew install pyenv
brew install rbenv
brew install ruby-build
brew install mtr
brew install wget
brew install fontconfig
brew install fortune
brew install cowsay
brew install ansible


# Nice apps for Dev
brew cask install sublime-text3
brew cask install iterm2
brew cask install google-chrome
brew cask install firefox
brew cask install atom
brew install go
brew install azure-cli
brew install media-info
brew install ffmpeg --with-fdk-aac --with-libass --with-x265 --with-openjpeg --with-fontconfig --with-freetype --with-libvpx
brew install terraform
brew cask install google-cloud-sdk
brew install starship

{{ end -}}
