#!/usr/bin/env bash
# shellcheck shell=bash
# shellcheck disable=SC2034,SC1090
{{ if eq .chezmoi.os "linux" -}}

#sudo chsh {{ .chezmoi.username }} -s `which fish`

# Starship
sh -c "$(curl -fsSL https://starship.rs/install.sh)" -f -y -b $HOME/bin

#EXA
if [ ! -f "/usr/bin/exa" ]; then
EXA_VERSION=$(curl -s "https://api.github.com/repos/ogham/exa/releases/latest" | grep -Po '"tag_name": "v\K[0-9.]+')
curl -Lo /tmp/exa.zip "https://github.com/ogham/exa/releases/latest/download/exa-linux-x86_64-v${EXA_VERSION}.zip"
unzip -q /tmp/exa.zip bin/exa -d "$HOME"
fi

#AWS CLI
if [ ! -d "$HOME/.aws-cli/v2/current" ]; then
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
unzip -qq /tmp/awscliv2.zip -d /tmp/
/tmp/aws/install -i "$HOME"/.aws-cli -b "$HOME"/bin
fi

#MacOS Specific
{{ else if eq .chezmoi.os "darwin" -}}
{{ if eq .email "aaronla@amdocs.com" -}}
cat <<EOF | sudo tee /etc/sudoers.d/proxy >/dev/null
Defaults  env_keep += "http_proxy"
Defaults  env_keep += "https_proxy"
Defaults  env_keep += "all_proxy"
Defaults  env_keep += "no_proxy"
Defaults  env_keep += "no_http_proxy"
Defaults  env_keep += "ftp_proxy"
Defaults  env_keep += "HTTP_PROXY"
Defaults  env_keep += "HTTPS_PROXY"
Defaults  env_keep += "ALL_PROXY"
Defaults  env_keep += "NO_PROXY"
Defaults  env_keep += "FTP_PROXY"
EOF

export no_proxy=.amdocs.com,$no_proxy
curl -kSs https://gitlab.corp.amdocs.com/ansible-roles/image-template/raw/master/files/profile_proxy.sh >/tmp/proxy.sh
. /tmp/proxy.sh
proxy install  # for install in /etc/profile.d/
mv ~/.proxyrc ~/.proxyrc.USE_PROXY_COMMAND_INSTEAD 2>/dev/null || true

{{ end -}}

#Set Shell
chsh -s $(which zsh)

# Powerline fonts
#mkdir -p "${HOME}"/.fonts
#git clone https://github.com/powerline/fonts "${HOME}"/.fonts/powerline-fonts/
#source "${HOME}"/.fonts/powerline-fonts/install.sh
{{ end -}}
