#!/usr/bin/env zsh

set -eu

unameOut="$(uname -s)"

if [[ "$unameOut" == "Darwin" ]]; then
brew install age

elif [[ "$unameOut" == "Linux" ]]; then
sudo apt-get install -y build-essentials\
    git \
    file \
    curl \

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
test -d ~/.linuxbrew && eval $(~/.linuxbrew/bin/brew shellenv)
test -d /home/linuxbrew/.linuxbrew && eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
test -r ~/.bash_profile && echo "eval \$($(brew --prefix)/bin/brew shellenv)" >>~/.bash_profile
echo "eval \$($(brew --prefix)/bin/brew shellenv)" >>~/.profile
brew install age
fi