Host ubuntu-dev
    Hostname 192.168.11.151
    User aaron
    ForwardAgent yes

{{ if eq .email "aaronla@amdocs.com" -}}
Host bitbucket.org
    Hostname altssh.bitbucket.org
    Port 443
    ServerAliveInterval 55
    ForwardAgent yes
    User git
    IdentityFile ~/.ssh/id_rsa
    ProxyCommand corkscrew indfgdiaproxy.corp.amdocs.com 8080 %h %p

Host gitlab.com
    Hostname altssh.gitlab.com
    Port 443
    ServerAliveInterval 55
    PreferredAuthentications publickey
    ForwardAgent yes
    User git
    IdentityFile ~/.ssh/id_rsa
    ProxyCommand corkscrew indfgdiaproxy.corp.amdocs.com 8080 %h %p    

Host github.com
    Hostname ssh.github.com
    Port 443
    ServerAliveInterval 55
    PreferredAuthentications publickey
    ForwardAgent yes
    User git
    IdentityFile ~/.ssh/id_rsa
    ProxyCommand corkscrew indfgdiaproxy.corp.amdocs.com 8080 %h %p 
{{ end -}}
